button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-button--primary {
  background-color: #92b38c;
  color: black;
  border-radius: 5em;
  box-shadow: 5px 5px 0px 2px black;
}

.custom-button--primary:hover {
  background-color: #7fff68;
}

.custom-button--secondary {
  background-color: transparent;
  background-color: #b5ffa8;
  border: none;
  border-radius: 5em;
  box-shadow: 5px 5px 0px 2px black;

  .has-border {
    border: 1px solid #000000;
  }
}

.custom-button--secondary:hover {
  background-color: rgb(110, 173, 240);
}

.custom-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
